<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- ## for client-side less
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/theme/css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
  -->
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ SITEURL }}/{{ FAVICON }}">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/hatena-bookmark-icon.css">
  {% if CUSTOM_CSS_URL %}
  <link rel="stylesheet" type="text/css" href="{{ CUSTOM_CSS_URL }}">
  {% endif %}


  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="Summer Data Science">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS" />
  {% endif %}

  {% block head %}
  {% endblock %}

  <title>
    {{ SITENAME }}
    {% block title %}{% endblock %}
  </title>

  {% include "modules/analytics.html" %}
  {%- if CUSTOM_HEADER_HTML %}
      {{ CUSTOM_HEADER_HTML }}
  {% endif -%}
</head>

<body>
  <main>
    <header>
      <div class="site-name">
        <a href="{{ SITEURL }}">{{ SITENAME }}</a>
      </div>
      {% block header %}
      {% endblock header %}
      </p>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  </main>
    <footer>
      <div class="ending-message">
        <p>&copy; {{ AUTHOR }}. Powered by <a href="http://getpelican.com" target="_blank">Pelican</a>, Theme is using <a href="https://github.com/laughk/pelican-hss" target="_blank">HSS</a>. {% if INTERNET_DEFENSE_LEAGUE %}Member of the <a href="http://internetdefenseleague.org">Internet Defense League</a>.{% endif %}</p>
      </div>
    </footer>
</body>
</html>
